.small-margin-bottom {
  @mixin atLarge {
      margin-bottom: 5rem;
  }
}

.small-margin-top-s {
  margin-top: 3rem !important;

  @mixin atSmall {
    margin-top: 0;
  }
}

.margin-t-plus {
  margin-top: 5rem;
}
