/* colors */
$main-grey: #333;
$link-color: #cb3e58;
$main-red: #d40000;
$dark-blue: #1a3490;
$main-green: #009f52;
$main-yellow: #ede20e;

/* gutters */
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
