*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: 'Lato', Arial, sans-serif;
  color: $main-grey;
  font-size: 1.6rem;
  background-color: #FEFEFE;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: $link-color;
}
