.wrapper {
  padding: 0 1.8rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 123.8rem;
  overflow: hidden;

  @mixin atSmall {
    padding: 0 2.5rem;
  }

  &--narrow {
    max-width: 47rem;
  }

  &--margin-top {
    margin-top: 2rem;
  }
}
