.book-detail {
  padding: 4rem 0;

  &__title-heading {
    color: $dark-blue;
    font-style: italic;
    font-size: 1.8rem;
    margin-bottom: .7rem;
    letter-spacing: 4px;
  }

  &__heading {
    margin-top: 1rem;
    & span {
      display: block;
    }

    &--author {
      font-weight: 300;
      margin-bottom: .8rem;
    }

    &--title {
      font-weight: 300;
      font-size: 2.5rem;
    }
  }

  &__meta {
    line-height: 1.5;
    font-size: 1.7rem;

    @mixin atMedium {
      line-height: 1.7;
    }

    &--small {
      font-size: 1.5rem;
      font-style: italic;
      margin-top: -1rem;
    }

    &--italic {
      font-style: italic;
    }
  }
}
