.catalogue {
  padding-top: 2rem;

  &__block {
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(#EDEDED, .8);

    @mixin atSmall {
      width: 90%;
      margin: 3rem auto;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    }

    @mixin atMedium {
      width: 80%;
      margin: 3.5rem auto;
    }
  }

  &__meta {
    @mixin clearfix;
  }

  &__img {
    margin-right: auto;
    margin-left: auto;
    @mixin atMedium {
      float: left;
      width: 33.3333%;
    }
  }

  &__text {
    @mixin atMedium {
      float: left;
      width: 66.66666%;
      padding-left: 2rem;
    }
  }

  &__title {
    font-weight: 300;
    margin-bottom: 4rem;

    @mixin atSmall {
      text-align: center;
    }
    @mixin atMedium {
      text-align: left;
    }

    & > span {
      display: block;
    }

    &--num {
      font-size: 2.2rem;
      margin-bottom: 1rem;
      letter-spacing: 4px;
    }

    &--comp {
      @mixin atMedium {
        font-size: 2.4rem;
        text-transform: uppercase;
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      display: block;
      background-color: $main-green;
      text-align: center;
      text-transform: uppercase;
      color: #FEFEFE;
      padding: 1rem 0;
      text-decoration: none;
      margin-top: 1rem;
      margin-bottom: 1rem;
      transition: opacity .3s ease;
    }

    &:hover,
    &:focus {
      opacity: .8;
    }

    @mixin atSmall {
      width: 50%;
      margin-right: auto;
      margin-left: auto;
    }

    @mixin atMedium {
      width: 30%;
      border-radius: 3px;
      margin-right: 0;
      margin-left: 0;
    }
  }
}
