.generic-content-container {
  &--small-margin-t {
    margin-top: 2rem;

    @mixin atSmall {
      margin-top: 0;
    }
  }

  p {
    font-size: 1.7rem;
    line-height: 1.5;

    &:first-child {
      margin-top: 0;
    }

    @mixin atMedium {
      line-height: 1.8;
      /*max-width: 80%;*/
    }
  }

  p a {
    font-weight: 700;
  }

  &--bigger {
    p {
      font-weight: 400;
      @mixin atMedium {
        font-size: 2rem;
        font-weight: 300;
      }
    }
  }
}
