.hero {
  position: relative;
  &__title {
    display: block;
    font-weight: 300;
    text-align: center;
    margin-bottom: 3rem;

    &--main {
      text-transform: uppercase;
      font-size: 3rem;
      letter-spacing: 1.5px;
      margin-bottom: .7rem;

      @mixin atSmall {
        font-size: 3.8rem;
        letter-spacing: 3px;

        &::before,
        &::after {
          display: inline-block;
          content: "";
          width: 3.6rem;
          height: 3.6rem;
          position: absolute;
          top: 3px;
        }

        &::before {
          margin-right: 3.5rem;
          left: 0;
        }

        &::after {
          margin-left: 3.5rem;
          right: 0;
        }

        &--red {
          &::before,
          &::after {
            background-color: $main-red;
          }
        }

        &--blue {
          &::before,
          &::after {
            background-color: $dark-blue;
          }
        }
      }

      @mixin atMedium {
        font-size: 4.5rem;
        letter-spacing: 4px;
        margin-bottom: 1.2rem;

        &::before,
        &::after {
          width: 4.4rem;
          height: 4.4rem;
        }

        &::before {
          margin-right: 3.5rem;
        }

        &::after {
          margin-left: 3.5rem;
        }
      }

      @mixin atLarge {
        font-size: 6.2rem;
        letter-spacing: 10px;

        &::before,
        &::after {
          width: 6rem;
          height: 6rem;
        }

        &::before {
          margin-right: 3.5rem;
        }

        &::after {
          margin-left: 3.5rem;
        }
      }
    }
    &--sub {
      font-size: 2.8rem;
      letter-spacing: 2px;

      @mixin atSmall {
        letter-spacing: 3px;
      }

      @mixin atMedium {
        letter-spacing: 6px;
      }

      @mixin atLarge {
        font-size: 3.4rem;
        letter-spacing: 9px;
      }
    }
  }

  &__slideshow {
    height: 300px;
    width: 100%;
    background: pink;
  }
}
