.section-title {
  letter-spacing: 3px;
  margin: 0rem 0 3rem;
  text-align: center;

  @mixin atMedium {
    letter-spacing: 10px;
  }

  &--medium {
    font-size: 2.5rem;
    font-weight: 400;

    @mixin atMedium {
      text-align: left;
    }
  }

  &--less-l-spacing {
    letter-spacing: 2px;

    @mixin atMedium {
      letter-spacing: 4px;
    }
  }

  &--small-b-margin {
    @mixin atMedium {
      margin-bottom: 2rem;
    }
  }

  &--large {
    font-size: 3.2rem;
    font-weight: 300;

    @mixin atMedium {
      font-size: 4rem;
    }
  }

  &--square {
    &::before {
      display: inline-block;
      content: "";
      width: 1.9rem;
      height: 1.9rem;
      margin-right: 1.6rem;

      @mixin atMedium {
        margin-right: 3rem;
        width: 2.8rem;
        height: 2.8rem;
        position: relative;
        top: 2px;
      }
    }

    &--blue::before {
      background-color: $dark-blue;
    }

    &--green::before {
      background-color: $main-green;
    }
  }

  &__sub {
    margin-top: 0;
    font-weight: 300;
    font-style: italic;
    font-size: 2.1rem;
    text-align: left;
    letter-spacing: 3px;

    @mixin atMedium {
      text-align: center;
      font-size: 2.6rem;
      letter-spacing: 5px;
    }
  }

  &__icon-group {
    & > img {
      display: inline-block;
      width: 5rem;
      height: auto;
      padding-right: 2rem;
      position: relative;
      top: -3px;
    }
    & > h2 {
      display: inline-block;
    }
  }
}
